name: Generate MK64 Charts

on:
  schedule:
    - cron: '0 2 * * *'  # Runs every day at 02:00 UTC
  workflow_dispatch:     # Manual trigger


permissions:
  contents: write

jobs:
  update-charts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate Charts
        run: python mk64_plot.py
        env:
          GSPREAD_SA_JSON: ${{ secrets.GSPREAD_SA_JSON }}
          SHEET_NAME: ${{ vars.SHEET_NAME }}
          WORKSHEET_NAME: ${{ vars.WORKSHEET_NAME }}

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit and push changes
        run: |
          git add charts/
          git commit -m "Update charts" || echo "No changes to commit"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/Beenan3/MK64.git HEAD:main